@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using BoardingHouse.Web.Models;
<nav class="navbar horizontal-navbar header-nav" ng-controller="headerController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="offcanvas" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="img-responsive" style="height:40px" src="~/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
            </a>
        </div>
        <div class="collapse navbar-collapse nav-menu">
            <ul class="nav navbar-nav navbar-left hidden-sm">
                <li>
                    <a href="#">Tất Cả Phòng Trọ</a>
                </li>
                <li>
                    <a target="_blank" href="#">Nạp Coin</a>
                </li>
                <li>
                    <a href="@Url.Action("SearchMap","Home")">Bản đồ</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-menu">
                <li>
                    <a href="javascript: void(0);" class="alert-notifications notifications dd" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-bell-o" style="font-size:18px"></i>
                        <span class="badge number">2</span>
                    </a>
                    <ul class="dropdown-menu dropdown-notifications">
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="fa fa-bullhorn"></i></span>
                                Có 18 vị trí mới hấp dẫn cho bạn
                                <span class="small italic">(34 phút)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="fa fa-bullhorn"></i></span>
                                Có 18 vị trí mới hấp dẫn cho bạn
                                <span class="small italic">(34 phút)</span>
                            </a>
                        </li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                    var currentUser = manager.FindById(User.Identity.GetUserId());
                    <li>
                        <a href="javascript: void(0);" data-toggle="dropdown" aria-expanded="true" style="margin-top:5px;">
                            @if (@currentUser.Avatar != null)
                            {
                                <img class="avatar agentAvatarImg" style="width:50px;" src="http://localhost:6568/Content/images/@currentUser.Avatar">
                            }
                            else
                            {
                                <img class="avatar agentAvatarImg" style="width:50px;" src="~/Content/img/boy-512.png" />
                            }
                            @currentUser.FullName
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("Membership","Membership")"><i class="fa fa-fw fa-lg fa-user"></i>Tài Khoản</a>
                            </li>
                            <li>
                                <a href="/thoat"><i class="fa fa-lg fa-sign-out fa-fw"></i>&nbsp;Thoát</a>
                            </li>
                        </ul>
                    </li>
                    <li class="horizontal-navbar-create-room">
                        <a class="btn-addroom" href="@Url.Action("CreateRoom","Home")"><i style="margin-right:10px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Đăng tin miễn phí</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="javascript:;" ng-click="openLoginModal();">
                            <i class="fa fa-fw fa-lg fa-sign-in"></i> Đăng nhập
                        </a>
                        @*<div id="user_menu_open" class="dropdown-menu topmenux">
                                <div class="login_sidebar">
                                    <h3 id="login-div-title-topbar" style="color:#000">Đăng nhập</h3>
                                    <div class="login_form">
                                        <div class="login-alert" ng-if="messageError!=null">{{messageError}} </div>
                                        <div class="form-group no-padding">
                                            <input id="email"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="Vui lòng nhập Email"
                                                   data-fv-emailaddress="true"
                                                   data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                                   ng-model="account.Email"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Tên tài khoản"
                                                   name="email">
                                        </div>
                                        <div class="form-group no-padding">
                                            <input id="password"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                                   ng-model="account.Password"
                                                   class="form-control"
                                                   type="password"
                                                   placeholder="Mật khẩu"
                                                   name="password">

                                        </div>
                                        <button class="wpresidence_button" style="width:100%" ng-click="Login();">Đăng nhập</button>
                                        <div class="login-links">
                                            <a href="#" id="widget_register_topbar">Bạn chưa có tài khoản?</a>
                                            <a href="#" id="forgot_pass_topbar">Quên mật khâu?</a>
                                            <div class="division">
                                                <div class="line l"></div>
                                                <span>Hoặc</span>
                                                <div class="line r"></div>
                                            </div>
                                            <div id="facebookloginsidebar_topbar" data-social="facebook">Đăng nhập với Facebook</div>
                                            <div id="googleloginsidebar_topbar" data-social="google">Đăng nhập với Google</div>
                                            <div id="yahoologinsidebar_topbar" data-social="yahoo">Đăng nhập với Yahoo</div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </li>
                    <li>
                        <a href="javascript: void(0);" ng-click="openRegisterModal();">Đăng Ký</a>
                    </li>
                    <li class="horizontal-navbar-create-room">
                        <a class="btn-addroom" href="javascript: void(0);" ng-click="openLoginModal();"><i style="margin-right:10px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Đăng tin miễn phí</a>
                    </li>
                }
                
            </ul>
        </div>

        <div class="sb-slidebar sb-left sb-style-overlay hidden-sm hidden-md hidden-lg">
            <div id="box-action-mobile">
                <div id="box-tgnavbotton" class="navbar navbar-default hidden-sm hidden-md hidden-lg">
                    <button aria-controls="navbar-collapse-btp" class="navbar-toggle sb-toggle-left" data-toggle="offcanvas" data-target=".navmenu">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="nav-menumobile">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Tất Cả Việc Làm</a>
                    </li>
                    <li>
                        <a target="_blank" href="#">Nạp Coin</a>
                    </li>
                    <li>
                        <a href="/bao-mat">Bảo Mật</a>
                    </li>
                    <li>
                        <a class="alert-notifications notifications dd" href="#" data-original-title="" title="">
                            <i class="fa fa-bell-o"></i>
                            <span style="display: none" class="number">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="openLoginModal();"><i class="fa fa-fw fa-lg fa-sign-in"></i>Đăng Nhập</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" ng-click="openRegisterModal();">Đăng Ký</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="clearfix"></div>
<script type="text/ng-template" id="ModalLogin.html">
    <div class="modal-header popup_header">
        <button aria-label="Close" data-dismiss="modal" ng-click="close();" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title popup_title" id="messageDel">
            <img src="/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
        </h4>
    </div>
    <div class="line_orn"></div>
    <div class="modal-body login">
        <div class="box">
            <div class="content" id="user_menu_open">
                <div class="form loginBox" style="margin-top:10px;">
                    <div id="formLogin" class="">
                        <div class="form-group no-padding">
                            <input id="email"
                                   data-fv-notempty="true"
                                   data-fv-notempty-message="Vui lòng nhập Email"
                                   data-fv-emailaddress="true"
                                   data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                   ng-model="account.Email"
                                   class="form-control"
                                   type="text"
                                   placeholder="Tên tài khoản"
                                   name="email">
                        </div>
                        <div class="form-group no-padding">
                            <input id="password"
                                   data-fv-notempty="true"
                                   data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                   ng-model="account.Password"
                                   class="form-control"
                                   type="password"
                                   placeholder="Mật khẩu"
                                   name="password">

                        </div>
                    </div>
                    <button class="wpresidence_button" style="width:100%" ng-click="ok();">Đăng nhập</button>
                </div>
                <div class="login-links">
                    <a href="#" id="widget_register_topbar">Bạn chưa có tài khoản?</a>
                    <a href="#" id="forgot_pass_topbar">Quên mật khâu?</a>
                    <div class="division">
                        <div class="line l"></div>
                        <span>Hoặc</span>
                        <div class="line r"></div>
                    </div>
                    <div id="facebookloginsidebar_topbar" data-social="facebook">Đăng nhập với Facebook</div>
                    <div id="googleloginsidebar_topbar" data-social="google">Đăng nhập với Google</div>
                    <div id="yahoologinsidebar_topbar" data-social="yahoo">Đăng nhập với Yahoo</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer login">
        <div class="forgot login-footer" style="display: block;">
            <span>
                <a href="javascript: showRegisterForm();">Tạo tài khoản</a>
                ?
            </span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="ModalRegister.html">
    <div class="modal-header popup_header">
        <button aria-label="Close" data-dismiss="modal" ng-click="close();" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title popup_title" id="messageDel">
            <img src="/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
        </h4>
    </div>
    <div class="line_orn"></div>
    <div class="modal-body login">
        <div class="box">
            <div class="content" id="user_menu_open">
                <div class="form loginBox" style="margin-top:10px;">
                    <div id="formRegister" class="">
                        <div class="form-group no-padding">
                            <input id="email"
                                   data-fv-notempty="true"
                                   data-fv-notempty-message="Vui lòng nhập Email"
                                   data-fv-emailaddress="true"
                                   data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                   ng-model="accountRegister.FullName"
                                   class="form-control"
                                   type="text"
                                   placeholder="Tên hiển thị"
                                   name="email">
                        </div>
                        <div class="form-group no-padding">
                            <input id="email"
                                   data-fv-notempty="true"
                                   data-fv-notempty-message="Vui lòng nhập Email"
                                   data-fv-emailaddress="true"
                                   data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                   ng-model="accountRegister.Email"
                                   class="form-control"
                                   type="text"
                                   placeholder="Email"
                                   name="email">
                        </div>
                        <div class="form-group no-padding">
                            <input id="password"
                                   data-fv-notempty="true"
                                   data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                   ng-model="accountRegister.Password"
                                   class="form-control"
                                   type="password"
                                   placeholder="Mật khẩu"
                                   name="password">

                        </div>
                        <div class="form-group no-padding">
                            <input id="ConfirmPassword"
                                   data-fv-notempty="true"
                                   data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                   ng-model="accountRegister.ConfirmPassword"
                                   class="form-control"
                                   type="password"
                                   placeholder="Nhập lại mật khẩu"
                                   name="ConfirmPassword">

                        </div>
                        <div class="form-group no-padding">
                            <input type="checkbox" name="terms" id="user_terms_register_topbar">
                            <label id="user_terms_register_topbar_label">Bạn có đồng ý với <a href="">mọi điều khoản của chúng tôi không</a> </label>
                        </div>
                        <button class="wpresidence_button" style="width:100%" ng-click="ok();">Đăng ký</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer login">
        <div class="forgot login-footer" style="display: block;">
            <span>
                <a href="javascript: showRegisterForm();">Tạo tài khoản</a>
                ?
            </span>
        </div>
        <div class="forgot register-footer" style="display: none;">
            <span>Already have an account?</span>
            <a href="javascript: showLoginForm();">Đăng Nhập</a>
        </div>
    </div>
</script>